/* Global CSS */

html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body{
    overflow: scroll;
}

.text-white{
    color: #FFFFFF;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
    color: #4C5740;
}

.Wet{
    background-color: #E6F2D7;
}

.Dry{
    background-color: #F2DDD7;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* dark and semi-transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* ensure it's above everything else */
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

